<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <p th:text="Adios"></p>
        <p th:text="${mensaje}"></p>
        <p th:text="${saludo}"></p>
        <br>
        <div th:if="${personas != null and !personas.empty}">
            <div th:each="persona : ${personas}">
                Nombre: <span th:text="${persona.nombre}">Nombre</span><br>
                Apellido: <span th:text="${persona.apellido}">Apellido</span><br>
                Email: <span th:text="${persona.email}">Email</span><br>
                Telefono: <span th:text="${persona.telefono}">Telefono</span><br>
                <br/>
            </div>
        </div>
        <div th:if="${personas == null or personas.empty}">
            <span>La lista de personas esta vacia</span>
        </div>
    </body>
</html>
